// Media querie para tablet
@media (max-width: 850px) {
    .secciones p {
        align-items: center;
        text-align: center;
        font-size: $font-size-medium;
    }

    .texto-nuevo

        #parrafo-motos {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 25px;
        }
}